<div class="user-details">
  <h1>{{ site.lang[page.lang].about_me }}</h1>
  <p>{{ site.lang[page.lang].user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>{{ site.lang[page.lang].experience }}</h2>
    <div>
      {% for ex in site.lang[page.lang].experiences %}
        <p>{{ ex }}</p>
      {% endfor %}
      </div>
  </div>
  <div class="tech">
    <h2>Skills</h2>
    <div>
      <p>
        {% for ex in site.lang[page.lang].skills %}
        <span class="custom-label">{{ ex }}</span>,
        {% endfor %}
      </p>
    </div>
  </div>
</div>

<hr>

<div class="user-details">
  <h1>{{ site.lang[page.lang].my_jobs }}</h1>
  {% for w in site.lang[page.lang].works %}
    <div>
      <h3>{{ w.name }}</h3>
      <p>{{ w.description }}</p>
    </div>
  {% endfor %}
</div>