<div id="particles-js">
  <div class="header">
      <img class="site-avatar" src="assets/perfil.jpg" alt="Foto de perfil" width="200">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.lang[page.lang].user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        {% if page.lang == "en" %}
          <a class="link" href="{{ '/' | relative_url }}" data-scroll>Versão pt/br</a>
        {% else %}
          <a class="link" href="{{ '/en' | relative_url }}" data-scroll>English version</a>
        {% endif %}
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
